<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js: one</title>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>  
        <hr>
        <div>
            <div>
                <label for="search">search for programing language</label>
                <input type="text" id="search" v-model="findLang">
            </div>
            <ul>
                <li v-for="lang in filterLang">{{ lang }}</li>
            </ul>
        </div>
        <hr>
        <div>
            <div>
                <label for="userName">search for programing language</label>
                <input type="text" id="userName" v-model="userName">
            </div>
            <p>{{ validateUserName }}</p>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue.js!',
                findLang: '',
                userName: '',
                languages: [
                    'html',
                    'css',
                    'js',
                    'php',
                    'python',
                    'java',
                    'c++'
                ]
            },
            computed: {
                filterLang: function () {
                    filtering = new RegExp(this.findLang, 'i');
                    return this.languages.filter(el => el.match(filtering));
                },

                validateUserName: function () {
                    if (!this.userName) {
                        return "user name shouldn't be empty"
                    }
                    else {
                        return 'good';
                    }
                }
            }
        })
    </script>
</body>
</html>