<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js: one</title>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <p>{{ sayHello() }}</p>
        <button @click="showNewDate()">Show New Date</button>
        <p>{{ date }}</p>
        <hr>    
        <!-- v-text -->
        <p v-text="message"></p>
        <ul>
            
            <!-- v-for -->
            <li v-for="(item, index) in myJson">
                {{ index }}: {{ item.firstName }} {{ item.lastName }}
            </li>
        </ul>
        
        <!-- v-if -->
        <p v-if="bool">true</p>
        <p v-else-if="!bool">false</p>
        
        <!-- v-html -->
        <p v-html="'<b>ammar</b>'"></p>
        
        <!--v-once: main-> v-DOM won't update the view -->
        <p v-once>{{ message }}</p>

        <!-- v-show: style{ display: none } -->
        <p v-show="false">{{ myJson }}</p>

        <!-- v-bind: or : (Shorthand) -->
        <hr>
        <a v-bind:href="myURL" target="_blank" rel="noopener noreferrer">My website</a>
        <br>
        <a :href="myURL" target="_blank" rel="noopener noreferrer">My website</a>
        <br><br>
        
        <!-- v-on: or @ (Shorthand) -->
        <button v-on:click="bool = !bool"> click </button>
        <button @click="bool = !bool"> click </button>
        <br><br>
        
        <!-- v-model -->
        <input v-model="message" type="text" name="" id=""><br>
        <select v-model="message" name="" id="">
            <option value="Ammar">Ammar</option>
            <option value="MHD">MHD</option>
        </select><br>
    </div>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            async mounted() {
                const res = await fetch('./one.json');
                const data = await res.json();
                this.myJson = data;
            },
            el: '#app',
            data: {
                message: 'Hello Vue.js!',
                date: '', 
                myJson: [],
                bool: false,
                myURL: 'https://ammar4web.github.io/',
            },
            methods: {
                sayHello: function() {
                    return 'From Methods: ' + this.message
                },
                showNewDate: function() {
                    this.date = Date();
                },
            },
            })
    </script>
</body>
</html>